<div class="row">
  <div class="col-lg-8 mb-4" style="margin-right: 2%">
    <div class="card" style="padding: 3%">
      <div class="card-body">
        <div
          *ngIf="produce.produceStatus == 'RIPE'; then Ripe; else Growing"
        ></div>
        <ng-template #Ripe
          ><div class="status">
            <img src="/assets/images/ripe.png" alt="Produce" loading="lazy" />
          </div>
        </ng-template>
        <ng-template #Growing
          ><div class="status">
            <img
              src="/assets/images/growing.png"
              alt="Produce"
              loading="lazy"
            />
          </div>
        </ng-template>

        <div class="row">
          <div class="col-lg-4">
            <img
              src="http://localhost:8080/api/image/sid"
              alt="Produce"
              style="width: 100%; height: auto; outline: 1px solid #eeeeee"
              class="img-thumbnail"
              loading="lazy"
            />
          </div>
          <div class="col">
            <h3 style="color: #4c3113">{{ produce.produceName }}</h3>
            <h5 class="text-muted mb-0">{{ produce.category }}</h5>
            <hr />
            <h5>Rs. {{ produce.category }} / each</h5>
            <br />
            <p>{{ produce.description }}</p>
            <div class="map-container">
              <div class="map-frame">
                <div id="map"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-4">
    <div class="card" style="margin-top: 5%">
      <div
        class="card-body"
        style="background-color: #dddddd; padding-top: 10%; padding-bottom: 10%"
      >
        <div class="card-title text-center" style="color: #4c3113">
          <h5>Produce profile</h5>
        </div>
        <div style="margin-top: 10%; margin-left: 5%">
          <p><strong style="margin-right: 5%">0</strong> Subscribers</p>
          <p><strong style="margin-right: 5%">0</strong> Feedbacks</p>
          <p><strong style="margin-right: 5%">0</strong> Requests</p>
        </div>
      </div>
    </div>
  </div>
</div>
