.status {
    z-index: 100;
    position: absolute;
    top: -10px;
    left: -25px;
}

.btn-success {
    background-color: #708C37 !important;
    border: #708C37;

}

.btn-warning {
    background-color: #EA9032;
    border: #EA9032;
    color: white;
}

.map-container {
    position: relative;
    width: 100%;
    height: 40vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 30px;
}

.map-frame {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
}

.wrap {

    width: 100%;
    height: 90vh;
    background-size: 100%;
    position: relative;
}

.head-text {
    font-weight: normal;
    font-family: 'Bad Script', cursive;
    color: #8EB540;
    text-align: center;
}

.subbutton {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 10;
    text-decoration: none;
    right: -30px;
    cursor: pointer;

}

.subdbutton {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    width: 150px;
    font-size: 0.75rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 10;
    text-decoration: none;
    background-color: #354219;
    cursor: pointer;
}

.subbutton:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #728E37;
    border-radius: 10rem;
    z-index: -2;
}

.subbutton:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #354219;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.subbutton:hover {
    color: #fff;
}

.subbutton:hover:before {
    width: 100%;
}

::-webkit-scrollbar {
    width: 6px
}

::-webkit-scrollbar-track {
    background: #f1f1f1
}

::-webkit-scrollbar-thumb {
    background: #888
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}

.scroll-y {
    overflow-y: scroll;
    height: 200px
}

.modal-confirm {
    color: #636363;
    width: 325px;
    font-size: 14px;
}

.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
}

.modal-confirm .form-control,
.modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}

.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -5px;
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
}

.modal-confirm .icon-box {
    color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #82ce34;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-confirm .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
}

.modal-confirm.modal-dialog {
    margin-top: 80px;
}

.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #82ce34;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}

.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
    background: #6fb32b;
    outline: none;
}