<div class="parallax2">
  <div class="title">My Connections</div>
</div>
<div class="container mt-5" style="min-height: 90%">
  <!-- <h1 class="text-center mb-4">Manage your Agro-Friends</h1> -->
  <div class="row d-flex justify-content-center">
    <div class="col-md-10">
      <div class="bg-white shadow">
        <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="faq_tab_1-tab"
              data-bs-toggle="tab"
              data-bs-target="#faq_tab_1"
              type="button"
              role="tab"
              aria-controls="faq_tab_1"
              aria-selected="true"
            >
              <div class="d-flex flex-column lh-lg">
                <i class="bx bxs-user-account"></i
                ><span>All my friends ({{ friendslist?.length || 0 }})</span>
              </div>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="faq_tab_2-tab"
              data-bs-toggle="tab"
              data-bs-target="#faq_tab_2"
              type="button"
              role="tab"
              aria-controls="faq_tab_2"
              aria-selected="false"
            >
              <div class="d-flex flex-column lh-lg">
                <i class="bx bxs-left-down-arrow-circle"></i>
                <span
                  >Inbound Requests ({{ inboundRequests?.length || 0 }})</span
                >
              </div>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="faq_tab_3-tab"
              data-bs-toggle="tab"
              data-bs-target="#faq_tab_3"
              type="button"
              role="tab"
              aria-controls="faq_tab_3"
              aria-selected="false"
            >
              <div class="d-flex flex-column lh-lg">
                <i class="bx bxs-user-minus"></i>
                <span
                  >Awaiting connection approval ({{
                    outboundRequests?.length || 0
                  }})</span
                >
              </div>
            </button>
          </li>
          <!-- <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="faq_tab_4-tab"
              data-bs-toggle="tab"
              data-bs-target="#faq_tab_4"
              type="button"
              role="tab"
              aria-controls="faq_tab_4"
              aria-selected="false"
            >
              <div class="d-flex flex-column lh-lg">
                <i class="bx bxs-plane-alt"></i> <span>Flight Status</span>
              </div>
            </button>
          </li> -->
        </ul>
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade active show"
            id="faq_tab_1"
            role="tabpanel"
            aria-labelledby="faq_tab_1-tab"
          >
            <div class="container p-3 scroll-y">
              <div
                class="border-bottom p-3 d-flex justify-content-between align-items-center"
                *ngFor="let obj of friendslist"
              >
                <div class="d-flex flex-column">
                  <div class="d-flex align-items-center ms-4">
                    <div
                      *ngIf="
                        obj.filename == null;
                        then userimagenotpresent;
                        else userimagepresent
                      "
                    ></div>
                    <ng-template #userimagepresent
                      ><img
                        src="http://localhost:8080/api/image/user-image/{{
                          obj.filename
                        }}"
                        alt=""
                        style="object-fit: cover; width: 60px; height: 60px"
                        class="rounded"
                      />
                    </ng-template>
                    <ng-template #userimagenotpresent
                      ><img
                        src="/assets/images/user.png"
                        alt=""
                        style="object-fit: cover; width: 60px; height: 60px"
                        class="rounded"
                        loading="lazy"
                      />
                    </ng-template>

                    <div class="ms-4">
                      <a
                        routerLink="/view-user/{{ obj.userId }}"
                        class="fw-bold mb-1"
                        >{{ obj.name }}</a
                      >
                      <p class="text-muted mb-0">{{ obj.username }}</p>
                    </div>
                  </div>
                </div>
                <div>
                  <a class="subbutton"
                    ><i class="bx bxs-user-check" style="font-size: 20px"></i
                    >Friends</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="faq_tab_2"
            role="tabpanel"
            aria-labelledby="faq_tab_2-tab"
          >
            <div class="container p-3 scroll-y">
              <div
                class="border-bottom p-3 d-flex justify-content-between align-items-center"
                *ngFor="let obj of inboundRequests"
              >
                <div class="d-flex flex-column">
                  <div class="d-flex align-items-center ms-4">
                    <div
                      *ngIf="
                        obj.filename == null;
                        then userimagenotpresent;
                        else userimagepresent
                      "
                    ></div>
                    <ng-template #userimagepresent
                      ><img
                        src="http://localhost:8080/api/image/user-image/{{
                          obj.filename
                        }}"
                        alt=""
                        style="object-fit: cover; width: 60px; height: 60px"
                        class="rounded"
                      />
                    </ng-template>
                    <ng-template #userimagenotpresent
                      ><img
                        src="/assets/images/user.png"
                        alt=""
                        style="object-fit: cover; width: 60px; height: 60px"
                        class="rounded"
                        loading="lazy"
                      />
                    </ng-template>
                    <div class="ms-4">
                      <a
                        routerLink="/view-user/{{ obj.userId }}"
                        class="fw-bold mb-1"
                        >{{ obj.name }}</a
                      >
                      <p class="text-muted mb-0">{{ obj.username }}</p>
                    </div>
                  </div>
                </div>
                <div>
                  <a
                    (click)="approvefriend(obj.userId, $event)"
                    class="subbutton"
                    >Accept connection</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="faq_tab_3"
            role="tabpanel"
            aria-labelledby="faq_tab_3-tab"
          >
            <div class="container p-3 scroll-y">
              <div
                class="border-bottom p-3 d-flex justify-content-between align-items-center"
                *ngFor="let obj of outboundRequests"
              >
                <div class="d-flex flex-column">
                  <div class="d-flex align-items-center ms-4">
                    <div
                      *ngIf="
                        obj.filename == null;
                        then userimagenotpresent;
                        else userimagepresent
                      "
                    ></div>
                    <ng-template #userimagepresent
                      ><img
                        src="http://localhost:8080/api/image/user-image/{{
                          obj.filename
                        }}"
                        alt=""
                        style="object-fit: cover; width: 60px; height: 60px"
                        class="rounded"
                      />
                    </ng-template>
                    <ng-template #userimagenotpresent
                      ><img
                        src="/assets/images/user.png"
                        alt=""
                        style="object-fit: cover; width: 60px; height: 60px"
                        class="rounded"
                        loading="lazy"
                      />
                    </ng-template>
                    <div class="ms-4">
                      <a
                        routerLink="/view-user/{{ obj.userId }}"
                        class="fw-bold mb-1"
                        >{{ obj.name }}</a
                      >
                      <p class="text-muted mb-0">{{ obj.username }}</p>
                    </div>
                  </div>
                </div>
                <div>
                  <a
                    (click)="cancelRequest(obj.userId, $event)"
                    class="cancelbutton"
                    >Cancel request</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container p-3 mt-4">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search hotels..."
                />
                <input
                  type="text"
                  class="form-control"
                  placeholder="Location"
                />
              </div>
              <div class="input-group mb-3">
                <select
                  class="form-select form-control"
                  id="inputGroupSelect02"
                >
                  <option selected>Rooms</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3+</option>
                </select>
                <select
                  class="form-select form-control"
                  id="inputGroupSelect02"
                >
                  <option selected>Members</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                  <option value="3">Four</option>
                  <option value="3">Five</option>
                </select>
              </div>
              <div class="mt-4 d-flex justify-content-end">
                <button class="btn btn-success custom-button px-5">
                  Search Hotels
                </button>
              </div>
            </div> -->
