<!-- Display Posts-->
<div
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
  [scrollWindow]="true"
>
  <div class="row post shadow-sm" *ngFor="let post of posts">
    <!-- <app-vote-button [post]="post"></app-vote-button> -->
    <!-- Section to Display Post Information-->
    <div class="col-md-12">
      <span class="post-header">
        <span class="text-muted"> Posted by </span>
        <a class="username" routerLink="/user/">{{ post.userName }}</a>
        <span class="text-muted"> . {{ post.duration }}</span>
      </span>
      <hr />
      <div class="post-title">
        <a class="postname" routerLink="/view-post/{{ post.postId }}">{{
          post.postName
        }}</a>
      </div>
      <div>
        <p class="post-text">{{ post.description | slice: 0:120 }} ...</p>
      </div>
      <hr />
      <span>
        <a class="btnCommments" role="button">
          <fa-icon [icon]="faComments"></fa-icon>
          Comments({{ post.commentCount }})
        </a>
        <a
          class="btn btn-success"
          style="
            float: right;
            background-color: #728e37;
            width: 100px;
            border: none;
          "
          routerLink="/view-post/{{ post.postId }}"
        >
          View
        </a>
      </span>
    </div>
  </div>
</div>
