<div class="row post">
  <!-- <app-vote-button [post]="post"></app-vote-button> -->
  <!-- Section to Display Post Information-->
  <div class="bg-light p-2 px-md-4 px-1 shadow-sm">
    <div class="d-sm-flex align-items-sm-center py-sm-3 px-md-3 location">
      <button
        #submitBtn
        type="submit"
        value="submit"
        class="unique-button btn mx-3 my-sm-0 mb-2"
        style="width: 150px"
      >
        Search
      </button>
    </div>
  </div>
</div>

<!-- Display Posts-->
<div class="row post">
  <!-- <app-vote-button [post]="post"></app-vote-button> -->
  <!-- Section to Display Post Information-->
  <div class="col-md-11">
    <span style="font-size: 12px">
      <span>
        Posted by
        <a class="username" routerLink="/user/">asdasda</a></span
      >
      <span> . 22e2e2</span>
    </span>
    <hr />
    <div class="post-title">
      <a class="postname" href="">sdafwefeff</a>
    </div>
    <div>
      <p class="post-text">deqefqf</p>
    </div>
    <hr />
    <span>
      <a class="btnCommments" role="button">
        <fa-icon [icon]="faComments"></fa-icon>
        Comments(2)
      </a>
      <button class="login">Read Post</button>
    </span>
  </div>
</div>

<div class="row post">
  <!-- <app-vote-button [post]="post"></app-vote-button> -->
  <!-- Section to Display Post Information-->
  <div class="col-md-11">
    <span style="font-size: 12px">
      <span>
        Posted by
        <a class="username" routerLink="/user/">asdasda</a></span
      >
      <span> . 22e2e2</span>
    </span>
    <hr />
    <div class="post-title">
      <a class="postname" href="">sdafwefeff</a>
    </div>
    <div>
      <p class="post-text">deqefqf</p>
    </div>
    <hr />
    <span>
      <a class="btnCommments" role="button">
        <fa-icon [icon]="faComments"></fa-icon>
        Comments(2)
      </a>
      <button class="login">Read Post</button>
    </span>
  </div>
</div>

<div class="row post">
  <!-- <app-vote-button [post]="post"></app-vote-button> -->
  <!-- Section to Display Post Information-->
  <div class="col-md-11">
    <span style="font-size: 12px">
      <span>
        Posted by
        <a class="username" routerLink="/user/">asdasda</a></span
      >
      <span> . 22e2e2</span>
    </span>
    <hr />
    <div class="post-title">
      <a class="postname" href="">sdafwefeff</a>
    </div>
    <div>
      <p class="post-text">deqefqf</p>
    </div>
    <hr />
    <span>
      <a class="btnCommments" role="button">
        <fa-icon [icon]="faComments"></fa-icon>
        Comments(2)
      </a>
      <button class="login">Read Post</button>
    </span>
  </div>
</div>
