<header>
  <div class="m-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a routerLink="/" class="navbar-brand">
                <img src="/assets/images/Logo2.png" height="80" alt="Logo">
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <!-- <div class="navbar-nav">
                    <a href="#" class="nav-item nav-link active">Home</a>
                    <a href="#" class="nav-item nav-link">Profile</a>
                </div> -->
                <div *ngIf="!isLoggedIn" class="navbar-nav ms-auto" >
                  <a routerLink="/sign-up" class="nav-item nav-link active">Sign up</a>
                  <a routerLink="/login"  class="nav-item nav-link ">Login</a>
                  <a routerLink="/map" class="nav-item nav-link">Map</a>
                </div>
                
                  <div *ngIf="isLoggedIn" ngbDropdown class="navbar-nav ms-auto">
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <!-- <button (click)="goToUserProfile()" ngbDropdownItem>Profile</button> -->
                        <button (click)="logout()" ngbDropdownItem>Logout</button>
                    </div>
                    <button class="userdetails" id="dropdownBasic1" ngbDropdownToggle>
                        <!-- <img class="account-icon" src="https://www.redditstatic.com/avatars/avatar_default_08_D4E815.png"> -->
                        {{username}}
                    </button>
                </div>
                
                
            </div>
        </div>
    </nav>
</div>
  
  </header>