.head-text {
    font-weight: normal;
    font-family: 'Bad Script', cursive;
    color: #8EB540;
    text-align: center;
    font-size: 26px;
}

.othercards {
    min-height: 400px;
    max-width: 100%;
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
    /* Added */
}

th {
    color: #212529
}

thead {
    background-color: #DDDDDD !important;
}

.user-anchor {
    color: #728e37;
    text-decoration: none;
    cursor: pointer;
}

.user-anchor:hover {
    font-weight: 600;
    color: #39471c;
}

.request-link {
    color: #728e37;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
}

.request-link:hover {
    color: #39471c;
}

.nav-link {
    color: #39471c !important;
}

.nav-link:hover {
    background-color: #9ca38e !important;
}

.active {
    font-weight: 500;
    color: #eee !important;
    background-color: #334019 !important;
}