<div class="parallax">
  <div class="title">Find Produces</div>
</div>

<div class="card shadow rounded topCard">
  <div class="card-body">
    <h5>Filter options</h5>
    <form>
      <div class="row">
        <div class="col">
          <label>Desired location</label>
          <input
            type="text"
            class="form-control"
            id="email"
            placeholder="Enter email"
            name="email"
          />
        </div>
        <div class="col">
          <label>Produce Name</label>
          <input
            type="password"
            class="form-control"
            placeholder="Enter password"
            name="pswd"
          />
        </div>
        <div class="col">
          <label>Produce Category</label>
          <input
            type="password"
            class="form-control"
            placeholder="Enter password"
            name="pswd"
          />
        </div>
        <div class="col">
          <label>Status</label>
          <input
            type="password"
            class="form-control"
            placeholder="Enter password"
            name="pswd"
          />
        </div>
        <div class="col">
          <label>Free?</label>
          <input
            type="password"
            class="form-control"
            placeholder="Enter password"
            name="pswd"
          />
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary mb-2">Filter</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="wrap mx-auto">
  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
</div>

<div class="container-fluid bg-trasparent my-4 p-3" style="position: relative">
  <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
    <div class="col" *ngFor="let produce of produces$">
      <div class="card h-100 shadow-sm">
        <img
          src="http://localhost:8080/api/image/sid"
          class="card-img-top"
          alt="..."
        />
        <div
          *ngIf="
            produce.produceStatus == 'Ripe';
            then content;
            else other_content
          "
        ></div>
        <ng-template #content
          ><div class="label-topRed shadow-sm">
            {{ produce.produceStatus }}
          </div></ng-template
        >
        <ng-template #other_content
          ><div class="label-top shadow-sm">
            {{ produce.produceStatus }}
          </div>
        </ng-template>

        <div class="card-body">
          <div class="clearfix mb-3">
            <span class="float-start price-hp">Rs. {{ produce.price }}</span>
            <span class="float-end"
              ><a class="text-muted small" href="#">Review</a></span
            >
          </div>
          <h5 class="card-title">
            {{ produce.produceName }}
          </h5>
          <p>
            {{ produce.description }}
          </p>
          <div class="text-center my-4">
            <a
              routerLink="/produce/{{ produce.produceId }}"
              class="btn btn-warning"
              >View Produce</a
            >
          </div>
          <div class="clearfix mb-1">
            <span class="float-start"
              ><i class="far fa-question-circle"></i
            ></span>
            <span class="float-end"><i class="fas fa-plus"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
