<header class="shadow">
  <div *ngIf="!isLoggedIn; then notlogged; else logged"></div>
  <ng-template #notlogged
    ><nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a routerLink="/" class="navbar-brand" style="margin-left: -50px">
          <img src="/assets/images/Logo6.png" height="70" alt="Logo" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a routerLink="" class="nav-item nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a routerLink="/sign-up" class="nav-item nav-link">Sign up</a>
            </li>
            <li class="nav-item">
              <a routerLink="/login" class="nav-item nav-link">Login</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dropdown
              </a>
              <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdown"
              >
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li> -->
          </ul>
        </div>
      </div>
    </nav></ng-template
  >
  <ng-template #logged
    ><nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a routerLink="/" class="navbar-brand" style="margin-left: -50px">
          <img src="/assets/images/Logo6.png" height="70" alt="Logo" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >{{ name }}
              </a>
              <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdown"
              >
                <li>
                  <a class="dropdown-item" href="#">
                    <fa-icon [icon]="faIdBadge" class="icon"></fa-icon>Public
                    Profile</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    ><fa-icon [icon]="faUser" class="icon"></fa-icon>My
                    Account</a
                  >
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    (click)="logout()"
                    style="cursor: pointer"
                    ><fa-icon [icon]="faRightFromBracket" class="icon"></fa-icon
                    >Logout</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav></ng-template
  >
</header>

<app-navbar *ngIf="isLoggedIn"></app-navbar>
