<div class="sidebar">
  <img
    src="/assets/images/community.jpg"
    alt="Logo"
    height="150px"
    width="203px"
  />
  <div class="mt-2" style="text-align: center; font-size: 0.8em">
    Welcome to farm node community. Come here to check out others interact with
    others via questions and posts.
  </div>
  <div style="text-align: center">
    <button class="btnCreatePost" (click)="goToCreatePost()">
      Create Post
    </button>
  </div>
  <div style="text-align: center">
    <button class="btnCreateSubreddit" (click)="goToCreateSubreddit()">
      My posts
    </button>
  </div>
</div>
