<span>
  <span class="subreddit-text">
    Posted
    <span> asdasda </span>
    by
    <a class="username" href="">asdsad</a>
  </span>
</span>
<hr />
<a routerLink="post.url" class="post-title">qweqweqeweeqwee</a>
<div>
  <!-- <p class="post-text" [innerHtml]="post.description"></p> -->
  <p class="post-text">dfsdffsffefwvrvwvqervrqervvrgervrr vwrvqavvrvarvavv</p>
</div>
<div class="post-comment">
  <form>
    <div class="form-group">
      <textarea class="form-control" placeholder="Your Thoughts?"></textarea>
    </div>
    <button type="submit" class="login float-right">Comment</button>
  </form>
</div>

<div style="margin-top: 60px">
  <div class="comment">
    <div class="username">
      <a routerLink="/user/comment.username">sssdad</a>
    </div>
    <div>
      <p>asdsad</p>
    </div>
    <b>sdadsadd</b>
  </div>
  <hr />
</div>
