<div class="nav shadow">
  <ul>
    <!-- <li><a a routerLink="/home">Home</a></li> -->
    <li><a routerLink="/post-produce">Post my produce</a></li>
    <li><a routerLink="/my-produce">My Micro-farm</a></li>
    <!-- <li><a routerLink="/map">Find produces</a></li> -->
    <li><a routerLink="/find-produce">Find My Produce</a></li>
    <li><a routerLink="/my-subscription">Subscriptions</a></li>
    <li><a>Requests</a></li>
    <li><a routerLink="/view-friends">Connections</a></li>
    <li><a routerLink="/community">Agro-Community</a></li>
  </ul>
</div>
