.status {
    z-index: 200;
    position: absolute;
    top: -10px;
    left: -25px;
}

.cus-icon {
    margin: 0 6% 0 6% !important;
}

.options fa-icon {
    color: #728E37 !important;
}

.options a {
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    color: #728E37 !important;

}

.options a:hover {
    color: #193D20 !important;
}

.map-container {
    position: relative;
    width: 100%;
    height: 60vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 30px;
}

.map-frame {
    border: 1px solid grey;
    height: 80%;
    width: 100%;

}

#map {
    height: 100%;
}

.wrap {

    width: 100%;
    height: 90vh;
    background-size: 100%;
    position: relative;
}