<div class="container" style="margin-top: 4%">
  <div class="row">
    <div class="col-lg-8 mb-4" style="margin-left: 2%">
      <div class="card" style="padding: 3%">
        <div class="card-body">
          <div
            *ngIf="produce.produceStatus == 'RIPE'; then Ripe; else Growing"
          ></div>
          <ng-template #Ripe
            ><div class="status">
              <img src="/assets/images/ripe.png" alt="Produce" loading="lazy" />
            </div>
          </ng-template>
          <ng-template #Growing
            ><div class="status">
              <img
                src="/assets/images/growing.png"
                alt="Produce"
                loading="lazy"
              />
            </div>
          </ng-template>

          <div class="row">
            <div class="col-lg-4">
              <img
                src="http://localhost:8080/api/image/sid"
                alt="Produce"
                style="width: 100%; height: auto; outline: 1px solid #eeeeee"
                class="img-thumbnail"
                loading="lazy"
              />
            </div>
            <div class="col">
              <h3 style="color: #4c3113">{{ produce.produceName }}</h3>
              <h5 class="text-muted mb-0">{{ produce.category }}</h5>
              <hr />
              <h5>Rs. {{ produce.category }} / each</h5>
              <br />
              <p>{{ produce.description }}</p>
              <div class="map-container">
                <div class="map-frame">
                  <div id="map"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-4">
      <div class="card">
        <div
          class="card-body"
          style="
            background-color: #dddddd;
            padding-top: 10%;
            padding-bottom: 20%;
          "
        >
          <div class="card-title text-center" style="color: #4c3113">
            <h5>Options</h5>
          </div>
          <div class="options">
            <br />
            <a (click)="open(mymodal)"
              ><fa-icon
                [icon]="faPenToSquare"
                class="fab fa-lg cus-icon"
              ></fa-icon
              >Edit produce</a
            >
            <br />
            <br />
            <div
              *ngIf="
                produce.produceStatus == 'RIPE';
                then ChangetoGrowing;
                else ChangetoRipe
              "
            ></div>
            <ng-template #ChangetoRipe
              ><a (click)="editStatus(produce.produceId, 'RIPE')"
                ><fa-icon
                  [icon]="faAppleWhole"
                  class="fab fa-lg cus-icon"
                ></fa-icon
                >Mark as RIPE</a
              >
            </ng-template>
            <ng-template #ChangetoGrowing
              ><a (click)="editStatus(produce.produceId, 'GROWING')"
                ><fa-icon
                  [icon]="faSeedling"
                  class="fab fa-lg cus-icon"
                ></fa-icon
                >Mark as GROWING</a
              >
            </ng-template>

            <br />
            <br />
            <div
              *ngIf="
                produce.publishStatus == 'false';
                then Publish;
                else Unpublish
              "
            ></div>

            <ng-template #Publish
              ><a (click)="editPublishStatus(produce.produceId, 'true')"
                ><fa-icon [icon]="faEye" class="fab fa-lg cus-icon"></fa-icon
                >Publish to consumers</a
              >
            </ng-template>
            <ng-template #Unpublish
              ><a (click)="editPublishStatus(produce.produceId, 'false')"
                ><fa-icon
                  [icon]="faCircleMinus"
                  class="fab fa-lg cus-icon"
                ></fa-icon
                >Un-publish to consumers</a
              >
            </ng-template>
          </div>
        </div>
      </div>

      <div class="card" style="margin-top: 5%">
        <div
          class="card-body"
          style="
            background-color: #dddddd;
            padding-top: 10%;
            padding-bottom: 10%;
          "
        >
          <div class="card-title text-center" style="color: #4c3113">
            <h5>Produce profile</h5>
          </div>
          <div style="margin-top: 10%; margin-left: 5%">
            <p><strong style="margin-right: 5%">0</strong> Subscribers</p>
            <p><strong style="margin-right: 5%">0</strong> Feedbacks</p>
            <p><strong style="margin-right: 5%">0</strong> Requests</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">
  Open My Modal
</button>

<ng-template #mymodal let-modal class="modal hide">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ produce.produceName }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">This is example from ItSolutionStuff.com</div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-warning"
      (click)="modal.close('Save click')"
    >
      Ok
    </button>
  </div>
</ng-template>

<!-- 
<div class="container-fluid bg-trasparent my-4 p-3" style="position: relative">
  <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
    <div class="col">
      <div class="card h-100 shadow-sm">
        <img
          src="http://localhost:8080/api/image/sid"
          class="card-img-top"
          alt="..."
        />
        <div
          *ngIf="
            produce.produceStatus == 'Ripe';
            then content;
            else other_content
          "
        ></div>
        <ng-template #content
          ><div class="label-topRed shadow-sm">
            {{ produce.produceStatus }}
          </div></ng-template
        >
        <ng-template #other_content
          ><div class="label-top shadow-sm">
            {{ produce.produceStatus }}
          </div>
        </ng-template>

        <div class="card-body">
          <div class="clearfix mb-3">
            <span class="float-start price-hp">Rs. {{ produce.price }}</span>
            <span class="float-end"
              ><a class="text-muted small" href="#">Review</a></span
            >
          </div>
          <h5 class="card-title">
            {{ produce.produceName }}
          </h5>
          <p>
            {{ produce.description }}
          </p>
          <div class="text-center my-4">
            <a
              routerLink="viewproduce/{{ produce.produceId }}"
              class="btn btn-warning"
              >View Produce</a
            >
          </div>
          <div class="clearfix mb-1">
            <span class="float-start"
              ><i class="far fa-question-circle"></i
            ></span>
            <span class="float-end"><i class="fas fa-plus"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
