.status {
    z-index: 200;
    position: absolute;
    top: -10px;
    left: -25px;
}

.cus-icon {
    margin: 0 6% 0 5% !important;
}

.options fa-icon {
    color: #728E37 !important;
}

.options a {
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    color: #39471c !important;
}

.options a:hover {
    color: #728E37 !important;
}

.map-container {
    position: relative;
    width: 100%;
    height: 40vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 30px;
}

.map-frame {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
    width: 100%;

}

#map {
    height: 100%;
}

.wrap {

    width: 100%;
    height: 90vh;
    background-size: 100%;
    position: relative;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.form-control {
    background-color: #dddddd !important;
}

select {
    -webkit-appearance: listbox !important;
    color: #728E37;
    font-weight: bold;
}

.subbutton {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 10;
    text-decoration: none;
    cursor: pointer;

}


.subbutton:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #728E37;
    border-radius: 10rem;
    z-index: -2;
}

.subbutton:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #354219;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.subbutton:hover {
    color: #fff;
}

.subbutton:hover:before {
    width: 100%;
}