<div class="container" style="margin-top: 4%; padding: 0 80px">
  <div class="row">
    <div class="col-lg-8 mb-4" style="margin-left: 4%">
      <div class="card shadow" style="padding: 3%">
        <div class="card-body">
          <div
            *ngIf="produce.produceStatus == 'RIPE'; then Ripe; else Growing"
          ></div>
          <ng-template #Ripe
            ><div class="status">
              <img src="/assets/images/ripe.png" alt="Produce" loading="lazy" />
            </div>
          </ng-template>
          <ng-template #Growing
            ><div class="status">
              <img
                src="/assets/images/growing.png"
                alt="Produce"
                loading="lazy"
              />
            </div>
          </ng-template>

          <div class="row">
            <div class="col-lg-4">
              <a (click)="show()">
                <img
                  src="http://localhost:8080/api/image/produce-image/{{
                    produce.filename
                  }}"
                  alt="Produce"
                  style="
                    object-fit: cover;
                    width: 100%;
                    height: 200px;
                    outline: 1px solid #eeeeee;
                  "
                  class="img-thumbnail"
                  loading="lazy"
                />
              </a>
            </div>
            <div class="col">
              <h3 style="color: #4c3113">{{ produce.produceName }}</h3>
              <h5 class="text-muted mb-0">{{ produce.category }}</h5>
              <hr />
              <h5>Rs. {{ produce.price }} / {{ produce.measureType }}</h5>
              <br />
              <p>{{ produce.description }}</p>
              <div class="map-container">
                <div class="map-frame">
                  <div id="map"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card" style="padding: 3%; margin-top: 2%">
        <div class="container p-3 scroll-y">
          <div *ngIf="comments$.length == 0; then emptycomments"></div>
          <ng-template #emptycomments
            ><h5>No comments yet for this produce</h5></ng-template
          >

          <div
            class="border-bottom d-flex justify-content-between align-items-center"
            *ngFor="let comment of comments$"
          >
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center ms-4">
                <div
                  *ngIf="
                    comment.filename == null;
                    then userimagenotpresent;
                    else userimagepresent
                  "
                ></div>
                <ng-template #userimagepresent
                  ><img
                    src="http://localhost:8080/api/image/produce-image/{{
                      comment.filename
                    }}"
                    alt=""
                    style="width: 45px; height: 45px"
                    class="rounded-circle"
                  />
                </ng-template>
                <ng-template #userimagenotpresent
                  ><img
                    src="/assets/images/user.png"
                    alt=""
                    style="width: 45px; height: 45px"
                    class="rounded-circle"
                    loading="lazy"
                  />
                </ng-template>

                <div class="ms-4">
                  <p class="mb-0" style="font-size: 12px">
                    {{ comment.userName }}<span class="text-muted"> says:</span>
                  </p>
                  <p class="fw-bold mb-1">{{ comment.text }}</p>
                  <p>
                    <span style="font-size: 12px">{{
                      comment.createdDate
                    }}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-4">
      <div class="card" style="background-color: #dddddd">
        <div class="card-body" style="padding-top: 10%; padding-bottom: 20%">
          <div class="card-title text-center" style="color: #4c3113">
            <h5>Options</h5>
          </div>
          <div class="options">
            <br />
            <a (click)="open(mymodal)"
              ><fa-icon
                [icon]="faPenToSquare"
                class="fab fa-lg cus-icon"
              ></fa-icon
              >Edit produce</a
            >
            <br />
            <br />
            <div
              *ngIf="
                produce.produceStatus == 'RIPE';
                then ChangetoGrowing;
                else ChangetoRipe
              "
            ></div>
            <ng-template #ChangetoRipe
              ><a (click)="editStatus(produce.produceId, produce.produceStatus)"
                ><fa-icon
                  [icon]="faAppleWhole"
                  class="fab fa-lg cus-icon"
                ></fa-icon
                >Mark as RIPE</a
              >
            </ng-template>
            <ng-template #ChangetoGrowing
              ><a (click)="editStatus(produce.produceId, produce.produceStatus)"
                ><fa-icon
                  [icon]="faSeedling"
                  class="fab fa-lg cus-icon"
                ></fa-icon
                >Mark as GROWING</a
              >
            </ng-template>

            <br />
            <br />
            <div
              *ngIf="
                produce.publishStatus == 'false';
                then Publish;
                else Unpublish
              "
            ></div>

            <ng-template #Publish
              ><a (click)="editPublishStatus(produce.produceId, 'true')"
                ><fa-icon [icon]="faEye" class="fab fa-lg cus-icon"></fa-icon
                >Publish to consumers</a
              >
            </ng-template>
            <ng-template #Unpublish
              ><a (click)="editPublishStatus(produce.produceId, 'false')"
                ><fa-icon
                  [icon]="faCircleMinus"
                  class="fab fa-lg cus-icon"
                  style="color: #b9002d !important"
                ></fa-icon
                >Un-publish to consumers</a
              >
            </ng-template>
          </div>
        </div>
      </div>

      <div class="card" style="margin-top: 5%; background-color: #dddddd">
        <div class="card-body" style="padding-top: 10%; padding-bottom: 10%">
          <div class="card-title text-center" style="color: #4c3113">
            <h5>Produce profile</h5>
          </div>
          <div style="margin-top: 10%; margin-left: 5%">
            <p>
              <strong style="margin-right: 5%">{{
                produce.subscriptionCount
              }}</strong>
              Subscribers
            </p>
            <p>
              <strong style="margin-right: 5%">{{
                produce.commentCount
              }}</strong>
              Comments
            </p>
            <p><strong style="margin-right: 5%">0</strong> Requests</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #mymodal let-modal class="modal hide">
  <div
    class="modal-header text-center"
    style="background-color: whitesmoke; color: #4c3113"
  >
    <h4 class="modal-title" id="modal-basic-title">
      <i class="bx bxs-leaf" style="margin-right: 10px; color: #728e37"></i>Edit
      my produce
    </h4>
    <a
      type="button"
      class="btn"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </a>
  </div>
  <form [formGroup]="updateForm" (ngSubmit)="update(submitBtn)">
    <div class="modal-body" style="background-color: whitesmoke">
      <div class="form-group mb-3">
        <label for="producenameinput"><h6 class="text">Produce Name</h6></label>
        <input
          type="text"
          class="form-control"
          id="producenameinput"
          required
          [formControlName]="'produceName'"
        />
      </div>

      <div class="form-group mb-3">
        <label for="descriptioninput"><h6 class="text">Description</h6></label>
        <textarea
          class="form-control"
          id="descriptioninput"
          rows="3"
          value="{{ produce.description }}"
          required
          [formControlName]="'description'"
        ></textarea>
      </div>
      <div class="row mb-3">
        <div class="col">
          <div class="form-group">
            <label for="categoryinput"
              ><h6 class="text">Produce Category</h6></label
            >
            <select
              class="form-control"
              id="categoryinput"
              [formControlName]="'category'"
            >
              <option value="Vegetable">Vegetable</option>
              <option value="Fruit">Fruit</option>
              <option value="Dairy">Dairy Products</option>
              <option value="Floriculture">Floriculture</option>
              <option value="Seeds">Seedlings</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="measuretypeinput"
              ><h6 class="text">Measurement Type</h6></label
            >
            <select
              class="form-control"
              id="measuretypeinput"
              [formControlName]="'measureType'"
            >
              <optgroup label="Units">
                <option value="each">each</option>
                <option value="dozen">dozen</option>
                <option value="bunch">bunch</option>
                <option value="bunch">bag</option>
              </optgroup>
              <optgroup label="Metric">
                <option value="10g">10g</option>
                <option value="100g">100g</option>
                <option value="kg">kg</option>
                <option value="500mL">500mL</option>
                <option value="L">L</option>
              </optgroup>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="price"
          ><h6 class="text">Enter your selling price</h6></label
        >
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" style="color: #728e37"
              ><strong>LKR</strong>
            </span>
          </div>
          <input
            type="number"
            class="form-control"
            [formControlName]="'price'"
          />
          <p class="text-below text-muted mt-3">
            Planning to give away the excess produce? Leave this field blank and
            your item will be listed as <strong>FREE!</strong> and notfications
            will be sent to potential consumers.
          </p>
        </div>
      </div>
    </div>
    <div class="modal-footer" style="background-color: whitesmoke">
      <button
        type="submit"
        #submitBtn
        class="subbutton"
        name="submit"
        value="submit"
      >
        Update Produce
      </button>
    </div>
  </form>
</ng-template>

<!-- Creates the bootstrap modal where the image will appear -->
<div
  [style.display]="showModal ? 'block' : 'none'"
  class="modal"
  id="imagemodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  style="z-index: 1000"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img
          src="http://localhost:8080/api/image/produce-image/{{
            produce.filename
          }}"
          id="imagepreview"
          style="width: 100%; height: auto"
          loading="lazy"
        />
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="hide()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- 
<div class="container-fluid bg-trasparent my-4 p-3" style="position: relative">
  <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
    <div class="col">
      <div class="card h-100 shadow-sm">
        <img
          src="http://localhost:8080/api/image/sid"
          class="card-img-top"
          alt="..."
        />
        <div
          *ngIf="
            produce.produceStatus == 'Ripe';
            then content;
            else other_content
          "
        ></div>
        <ng-template #content
          ><div class="label-topRed shadow-sm">
            {{ produce.produceStatus }}
          </div></ng-template
        >
        <ng-template #other_content
          ><div class="label-top shadow-sm">
            {{ produce.produceStatus }}
          </div>
        </ng-template>

        <div class="card-body">
          <div class="clearfix mb-3">
            <span class="float-start price-hp">Rs. {{ produce.price }}</span>
            <span class="float-end"
              ><a class="text-muted small" href="#">Review</a></span
            >
          </div>
          <h5 class="card-title">
            {{ produce.produceName }}
          </h5>
          <p>
            {{ produce.description }}
          </p>
          <div class="text-center my-4">
            <a
              routerLink="viewproduce/{{ produce.produceId }}"
              class="btn btn-warning"
              >View Produce</a
            >
          </div>
          <div class="clearfix mb-1">
            <span class="float-start"
              ><i class="far fa-question-circle"></i
            ></span>
            <span class="float-end"><i class="fas fa-plus"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
