<!-- <div class="wrap">
  <form class="formWrap" [formGroup]="signupForm" (ngSubmit)="register()">
    <img src="/assets/images/lock.png" alt="loginBackground" class="locImg" />
    <h4>Login</h4>
    <div>
      <input
        type="text"
        id="username"
        placeholder="Username"
        class="form-control"
        [formControlName]="'username'"
        name="username"
      />

      <div
        class="alert alert-danger"
        *ngIf="
          !loginForm.get('username')?.valid &&
          loginForm.get('username')?.touched
        "
      >
        Please provide a valid username
      </div>
    </div>

    <div>

      <input
        type="password"
        placeholder="Password"
        id="password"
        class="form-control"
        [formControlName]="'password'"
        name="password"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          !loginForm.get('password')?.valid &&
          loginForm.get('password')?.touched
        "
      >
        Please provide a password
      </div>
    </div>
    <button type="submit" name="submit" value="submit">Login</button>
    <a href="#">No account yet? Create an account</a>
    <a href="#">Forgot password?</a>
  </form>
</div> -->

<!-- 
<div class="vh-100" style="background-image: url('/assets/images/bg2.jpg')">
  <div class="mask d-flex align-items-center h-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form [formGroup]="signupForm" (ngSubmit)="register(submitBtn)">
                <div class="form-outline mb-4">
                  <input
                    type="text"
                    id="name"
                    class="form-control form-control-lg"
                    [formControlName]="'name'"
                    name="name"
                  />
                  <label class="form-label" for="name">Your Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="email"
                    id="username"
                    class="form-control form-control-lg"
                    [formControlName]="'username'"
                    name="username"
                  />
                  <label class="form-label" for="username">Your Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="password"
                    id="password"
                    class="form-control form-control-lg"
                    [formControlName]="'password'"
                    name="password"
                  />
                  <label class="form-label" for="password">Password</label>
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="password"
                    id="form3Example4cdg"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="form3Example4cdg"
                    >Repeat your password</label
                  >
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input
                    class="form-check-input me-2"
                    type="checkbox"
                    value=""
                    id="form2Example3cg"
                  />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in
                    <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button
                    #submitBtn
                    type="submit"
                    name="submit"
                    value="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                  >
                    Register
                  </button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">
                  Have already an account?
                  <a routerLink="/login" class="fw-bold text-body"
                    ><u>Login here</u></a
                  >
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div
  style="
    background-image: url('/assets/images/bg2.jpg');
    padding: 5% 0;
    background-size: 100%;
    position: relative; ;
  "
>
  <div class="card shadow rounded othercards">
    <div class="card-body">
      <form [formGroup]="signupForm" (ngSubmit)="register(submitBtn)">
        <div class="form-outline mb-4">
          <input
            type="text"
            id="name"
            class="form-control form-control-lg"
            [formControlName]="'name'"
            name="name"
          />
          <label class="form-label" for="name">Your Name</label>
        </div>

        <div class="form-outline mb-4">
          <input
            type="email"
            id="username"
            class="form-control form-control-lg"
            [formControlName]="'username'"
            name="username"
          />
          <label class="form-label" for="username">Your Email</label>
        </div>

        <div class="form-outline mb-4">
          <input
            type="password"
            id="password"
            class="form-control form-control-lg"
            [formControlName]="'password'"
            name="password"
          />
          <label class="form-label" for="password">Password</label>
        </div>

        <div class="form-outline mb-4">
          <input
            type="password"
            id="form3Example4cdg"
            class="form-control form-control-lg"
          />
          <label class="form-label" for="form3Example4cdg"
            >Repeat your password</label
          >
        </div>

        <div class="form-check d-flex justify-content-center mb-5">
          <input
            class="form-check-input me-2"
            type="checkbox"
            value=""
            id="form2Example3cg"
          />
          <label class="form-check-label" for="form2Example3g">
            I agree all statements in
            <a href="#!" class="text-body"><u>Terms of service</u></a>
          </label>
        </div>

        <div class="d-flex justify-content-center">
          <button
            #submitBtn
            type="submit"
            name="submit"
            value="submit"
            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
          >
            Register
          </button>
        </div>

        <p class="text-center text-muted mt-5 mb-0">
          Have already an account?
          <a routerLink="/login" class="fw-bold text-body"><u>Login here</u></a>
        </p>
      </form>

      <div>
        <div class="text-muted text-center" style="margin: 20px 20px"></div>
      </div>
    </div>
  </div>
</div>
