.nav ul {
    list-style: none;
    background-color: #728E37;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav li {
    display: inline-block;

}

.nav a {
    text-decoration: none;
    color: #fff;
    text-shadow: 0.5px 0.5px 1px #000000;
    width: auto;
    display: block;
    padding: 18px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;

    /* text-transform: uppercase;
     font-size: 0.9rem; 
    letter-spacing: 0.1rem;  */
}

.nav a:hover {
    background-color: #EA9032;
}

.dropdown-menu {

    box-shadow: 0 4px 8px grey;
}

.dropdown-menu li {
    text-align: left;
    width: 100%;
    background-color: #f1f4eb;
}

.dropdown-menu a {
    color: rgb(48, 58, 78);
    font-weight: normal;
    background-color: #f1f4eb;
}