<form [formGroup]="createPostForm" (ngSubmit)="createPost(submitBtn)">
  <div class="modal-body" style="background-color: whitesmoke">
    <div class="form-group mb-3">
      <label for="Title"><h6 class="text">Post Title</h6></label>
      <input
        type="text"
        [formControlName]="'postName'"
        class="form-control"
        placeholder="Title"
        [formControlName]="'postName'"
      />
    </div>

    <div class="form-group mb-3">
      <label for="description"><h6 class="text">Description</h6></label>
      <textarea
        type="text"
        rows="5"
        [formControlName]="'description'"
        class="form-control"
        style="margin-top: 5px"
        placeholder="Post Description"
        [formControlName]="'description'"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="price"><h6 class="text">Post Image</h6></label>
      <div class="input-group">
        <input
          type="file"
          class="form-control"
          id="produceImage"
          accept="image/*"
          [formControlName]="'image'"
          (change)="upload($event)"
        />
        <p class="text-below text-muted mt-3">
          If you have any special queries or advices related to something (For
          eg: <strong>plant disease</strong>) Attach a clear related image
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer" style="background-color: whitesmoke">
    <div
      class="button mt-4 d-flex flex-row align-items-center"
      style="gap: 10px; text-align: center"
    >
      <button (click)="discardPost()" class="btnDiscard">Discard</button>

      <button
        class="btnCreatePost"
        #submitBtn
        type="submit"
        name="submit"
        value="submit"
      >
        Post
      </button>
    </div>
  </div>
</form>
