<div style="margin: 40px 0 40px">
  <h2 class="head-text">Post your self-grown <strong>Agro-Produces</strong></h2>
</div>

<form [formGroup]="createProduceForm" (ngSubmit)="submit(submitBtn)">
  <!-- <div class="card shadow topCard rounded">
    <div class="card-body">
      <h3 class="card-title text">Is it on your property?</h3>
    </div>
  </div> -->

  <div class="card shadow rounded othercards">
    <div class="card-body">
      <div class="form-group text">
        <label for="produceName"><h6 class="text">Produce Name *</h6></label>
        <input
          type="text"
          class="form-control"
          id="produceName"
          placeholder="Tell us what you are growing "
          [formControlName]="'produceName'"
        />
      </div>

      <div class="form-group row">
        <label for="inputCategory" class="col-sm-2 col-form-label"
          ><h6 class="text">Produce Category</h6></label
        >
        <div class="col-sm-10">
          <select
            id="inputCategory"
            class="form-control"
            [formControlName]="'inputCategory'"
          >
            <option selected>Vegetable</option>
            <option>Fruit</option>
            <option>Dairy Products</option>
          </select>
        </div>
      </div>

      <div class="form-group text">
        <label for="description"><h6 class="text">Description*</h6></label>
        <textarea
          class="form-control"
          rows="5"
          id="description"
          placeholder="Enter details about your produce (eg. growing conditions, location, variety, people involved, etc) above. "
          [formControlName]="'description'"
        ></textarea>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="produceStatus" class="text"
            ><h6 class="text">Status *</h6></label
          >
          <div
            class="form-control border-0 btn-group"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <input
              type="radio"
              class="btn-check"
              name="produceStatus"
              id="btnGrowing"
              value="GROWING"
              autocomplete="off"
              [formControlName]="'produceStatus'"
              [checked]="true"
            />
            <label class="btn btn-outline-danger" for="btnGrowing"
              >Mark as growing</label
            >
            <input
              type="radio"
              class="btn-check"
              name="produceStatus"
              id="btnRipe"
              value="RIPE"
              autocomplete="off"
              [formControlName]="'produceStatus'"
            />
            <label class="btn btn-outline-success" for="btnRipe"
              >Flag as ripe
            </label>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="produceImage"
            ><h6 class="text">Upload an Image *</h6></label
          >
          <input
            type="file"
            class="form-control"
            id="produceImage"
            style="margin-top: 6px"
          />
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label for="price"
            ><h6 class="text">Enter your selling price</h6></label
          >
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">LKR</span>
            </div>
            <input
              type="number"
              class="form-control"
              [formControlName]="'price'"
            />
          </div>
          <p class="text-below">
            Are you giving it away? Leave this field blank and your item will be
            listed for <strong>FREE!</strong>
          </p>
        </div>
        <div class="form-group col-md-6">
          <label for="inputMeasurement"
            ><h6 class="text">Measurement</h6></label
          >
          <select
            id="inputMeasurement"
            class="form-control"
            [formControlName]="'inputMeasurement'"
          >
            <optgroup label="Units">
              <option value="volvo">each</option>
              <option value="saab">dozen</option>
              <option value="saab">bunch</option>
              <option value="saab">bag</option>
            </optgroup>
            <optgroup label="Metric">
              <option value="mercedes">10g</option>
              <option value="audi">100g</option>
              <option value="audi">kg</option>
              <option value="audi">500mL</option>
              <option value="audi">L</option>
            </optgroup>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="card shadow rounded othercards">
    <div class="card-body">
      <h6 class="card-title text">Enter the location of your produce</h6>
      <div class="container">
        <!-- start map -->
        <div id="contain-map" class="m-auto" style="height: 400px; width: auto">
          <div id="map" style="width: 100%; height: 100%"></div>
        </div>
        <!-- end map -->
      </div>

      <div>
        <div class="text-center" style="margin-top: 10px">
          <p><strong>Latitude : </strong>{{ latitude }}</p>
        </div>
        <div class="text-center">
          <p><strong>Longitude : </strong>{{ longitude }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card bottomcard">
    <button
      #submitBtn
      type="submit"
      name="submit"
      value="submit"
      class="btn btn-submit btn-lg btn-block"
    >
      Post your produce
    </button>
  </div>
</form>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">
  Open My Modal
</button>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">This is example from ItSolutionStuff.com</div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Ok
    </button>
  </div>
</ng-template> -->
