<div style="margin: 40px 0 40px">
  <h2 class="head-text">Post your self-grown <strong>Agro-Produces</strong></h2>
</div>

<form [formGroup]="createProduceForm" (ngSubmit)="submit(submitBtn)">
  <!-- <div class="card shadow topCard rounded">
    <div class="card-body">
      <h3 class="card-title text">Is it on your property?</h3>
    </div>
  </div> -->

  <div class="card shadow rounded othercards">
    <div class="card-body">
      <div class="form-group text">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="produceName"
              ><h6 class="text">Produce Name *</h6></label
            >
            <input
              type="text"
              class="form-control"
              id="produceName"
              placeholder="Tell us what you are growing "
              [formControlName]="'produceName'"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="produceName"
              ><h6 class="text">Produce Category *</h6></label
            >
            <select
              id="inputCategory"
              class="form-control"
              [formControlName]="'inputCategory'"
            >
              <option value="Vegetable">Vegetable</option>
              <option value="Fruit">Fruit</option>
              <option value="Dairy">Dairy Products</option>
              <option value="Floriculture">Floriculture</option>
              <option value="Seeds">Seedlings</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group text">
        <label for="description"><h6 class="text">Description*</h6></label>
        <textarea
          class="form-control"
          rows="5"
          id="description"
          placeholder="Enter details about your produce (eg. growing conditions, location, variety, people involved, etc) above. "
          [formControlName]="'description'"
        ></textarea>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="produceStatus" class="text"
            ><h6 class="text">Status *</h6></label
          >
          <div
            class="form-control border-0 btn-group"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <input
              type="radio"
              class="btn-check"
              name="produceStatus"
              id="btnGrowing"
              value="GROWING"
              autocomplete="off"
              [formControlName]="'produceStatus'"
              [checked]="true"
            />
            <label class="btn btn-outline-success" for="btnGrowing"
              >Mark as growing</label
            >
            <input
              type="radio"
              class="btn-check"
              name="produceStatus"
              id="btnRipe"
              value="RIPE"
              autocomplete="off"
              [formControlName]="'produceStatus'"
            />
            <label class="btn btn-outline-danger" for="btnRipe"
              >Flag as ripe
            </label>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="produceImage"
            ><h6 class="text">Upload an Image *</h6></label
          >
          <input
            type="file"
            class="form-control"
            id="produceImage"
            style="margin-top: 6px"
            (change)="upload($event)"
          />
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label for="price"
            ><h6 class="text">Enter your selling price</h6></label
          >
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">LKR</span>
            </div>
            <input
              type="number"
              class="form-control"
              [formControlName]="'price'"
            />
          </div>
          <p class="text-below">
            Is it just given away? Leave this field blank and your item will be
            listed as <strong>FREE!</strong>
          </p>
        </div>
        <div class="form-group col-md-6">
          <label for="inputMeasurement"
            ><h6 class="text">Measurement</h6></label
          >
          <select
            id="measureType"
            class="form-control"
            [formControlName]="'measureType'"
          >
            <optgroup label="Units">
              <option value="each">each</option>
              <option value="dozen">dozen</option>
              <option value="bunch">bunch</option>
              <option value="bunch">bag</option>
            </optgroup>
            <optgroup label="Metric">
              <option value="10g">10g</option>
              <option value="100g">100g</option>
              <option value="kg">kg</option>
              <option value="500mL">500mL</option>
              <option value="L">L</option>
            </optgroup>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="card shadow rounded othercards">
    <div class="card-body">
      <h6 class="card-title text">
        Enter the location of your produce
        <i class="bx bxs-map-pin" style="font-size: 20px"></i>
      </h6>
      <div class="container">
        <!-- start map -->
        <div id="contain-map" class="m-auto" style="height: 400px; width: auto">
          <div id="map" style="width: 100%; height: 100%"></div>
        </div>
        <!-- end map -->
      </div>

      <div>
        <div class="text-muted text-center" style="margin: 20px 20px">
          <div *ngIf="longitude != ''; then coordinateContent"></div>
          <ng-template #coordinateContent>
            <p style="font-size: 12px; text-align: right">
              <strong>Latitude : </strong>{{ latitude }}
              <br />
              <strong>Longitude : </strong>{{ longitude }}
            </p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="card bottomcard">
    <button
      #submitBtn
      type="submit"
      name="submit"
      value="submit"
      class="btn btn-submit btn-lg btn-block"
    >
      Post your produce
    </button>
  </div>
</form>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">
  Open My Modal
</button>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">This is example from ItSolutionStuff.com</div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Ok
    </button>
  </div>
</ng-template> -->
