<div class="card" style="background-color: #dddddd">
  <div class="card-body" style="padding-top: 10%; padding-bottom: 10%">
    <div class="card-title" style="color: #4c3113">
      <h5>Grower/Producer profile</h5>
    </div>
    <div class="d-flex align-items-center" style="margin-top: 7%">
      <div
        *ngIf="
          grower.filename == null;
          then userimagenotpresent;
          else userimagepresent
        "
      ></div>
      <ng-template #userimagepresent
        ><img
          src="http://localhost:8080/api/image/produce-image/{{
            grower.filename
          }}"
          alt=""
          style="width: 50px; height: 50px"
          class="rounded-circle"
        />
      </ng-template>
      <ng-template #userimagenotpresent
        ><img
          src="/assets/images/user.png"
          alt=""
          style="width: 50px; height: 50px"
          class="rounded-circle"
          loading="lazy"
        />
      </ng-template>
      <div class="ms-3">
        <p class="fw-bold mb-1">{{ grower.name }}</p>
        <p class="text-muted mb-0">{{ grower.username }}</p>
      </div>
    </div>
    <div
      class="button mt-4 d-flex flex-row align-items-center"
      style="gap: 10px"
    >
      <a
        ngbTooltip="Go to User profile"
        routerLink="/view-user/{{ grower.userId }}"
        class="btn btn-sm btn-success w-100"
        style="
          background-color: #334019;
          color: #eaeaea;
          border: none;
          font-weight: 400;
        "
        >View Profile</a
      >
      <div
        *ngIf="grower.friendship == 'false'; then addFriend; else friends"
      ></div>
      <ng-template #addFriend
        ><a
          (click)="addFriends(grower.userId)"
          class="btn btn-sm btn-warning w-100 ml-2"
          >Add Friend</a
        >
      </ng-template>
      <ng-template #friends
        ><button
          class="btn btn-sm btn-primary w-100 ml-2"
          style="
            background-color: #eaeaea;
            color: #334019;
            border: none;
            font-weight: 600;
          "
          ngbTooltip="You are already friends"
        >
          <fa-icon [icon]="faCheck" class="icon"></fa-icon>
          Connected
        </button>
      </ng-template>
    </div>

    <div style="margin-top: 10%; margin-left: 5%">
      <p>
        <strong style="margin-right: 5%">{{ grower.produceCount }}</strong>
        Agro-produces grown
      </p>
      <p>
        <strong style="margin-right: 5%">{{ grower.subscriptionCount }}</strong>
        Subscriptions
      </p>
      <p><strong style="margin-right: 5%">0</strong> Reviews</p>
      <p><strong style="margin-right: 5%">0</strong> Comments</p>
      <p>
        <strong style="margin-right: 5%">{{ grower.friendsCount }}</strong>
        Connections
      </p>
    </div>
    <div class="mt-4 d-flex justify-content-end">
      <a
        class="btn btn-success"
        routerLink="/produce-request"
        [queryParams]="{ userId: grower.userId, produceId: produceId }"
      >
        Request produce
      </a>
    </div>
  </div>

  <div></div>
</div>
<div class="card" style="margin-top: 5%; background-color: #dddddd">
  <div class="card-body" style="padding-top: 10%; padding-bottom: 10%">
    <div class="card-title text-center" style="color: #4c3113">
      <h5>Growers other produces ({{ produces$?.length }})</h5>
    </div>

    <div>
      <a *ngFor="let produce of slicedproduces$" class="request-produce-image"
        ><img
          src="http://localhost:8080/api/image/produce-image/{{
            produce.filename
          }}"
          title="{{ produce.produceName }}"
          alt="produce-image"
          style="object-fit: cover; width: 45px; height: 45px"
          class="rounded-circle"
          ngbTooltip="{{ produce.produceName }}"
      /></a>
    </div>
    <div class="mt-4 d-flex justify-content-end">
      <a class="btn btn-success" routerLink="/view-user/{{ grower.userId }}">
        View all
      </a>
    </div>
  </div>
</div>
