<div class="card" style="background-color: #dddddd">
  <div class="card-body" style="padding-top: 10%; padding-bottom: 10%">
    <div class="card-title" style="color: #4c3113">
      <h5>Grower/Producer profile</h5>
    </div>
    <div class="d-flex align-items-center" style="margin-top: 7%">
      <div
        *ngIf="
          grower.filename == null;
          then userimagenotpresent;
          else userimagepresent
        "
      ></div>
      <ng-template #userimagepresent
        ><img
          src="http://localhost:8080/api/image/user-image/{{ grower.filename }}"
          alt=""
          style="width: 50px; height: 50px"
          class="rounded-circle"
        />
      </ng-template>
      <ng-template #userimagenotpresent
        ><img
          src="/assets/images/user.png"
          alt=""
          style="width: 50px; height: 50px"
          class="rounded-circle"
          loading="lazy"
        />
      </ng-template>
      <div class="ms-3">
        <p class="fw-bold mb-1">{{ grower.name }}</p>
        <p class="text-muted mb-0">{{ grower.username }}</p>
      </div>
    </div>
    <div
      class="button mt-4 d-flex flex-row align-items-center"
      style="gap: 10px"
    >
      <a
        ngbTooltip="Go to User profile"
        routerLink="/view-user/{{ grower.userId }}"
        class="button-10 w-100"
        >View Profile</a
      >
      <ng-container *ngIf="grower?.friendship != 'false'; else norequestsmade">
        <ng-container
          *ngIf="grower?.friendship === 'PENDING'; else alreadyfriends"
        >
          <!-- Requests sent -->
          <a (click)="cancelRequest(grower.userId)" class="button-30 w-100"
            >Cancel Request</a
          >
        </ng-container>
      </ng-container>
      <!-- Already friends-->
      <ng-template #alreadyfriends
        ><button class="button-20 w-100" ngbTooltip="You are already friends">
          <fa-icon [icon]="faCheck" class="icon"></fa-icon>
          Connected
        </button></ng-template
      >
      <!-- No friend requests sent -->
      <ng-template #norequestsmade
        ><a
          ngbTooltip="Send connection request"
          (click)="addFriends(grower.userId)"
          class="button-60 w-100"
          >+ Add Friend</a
        ></ng-template
      >
    </div>

    <div style="margin-top: 10%; margin-left: 5%">
      <p>
        <strong style="margin-right: 5%; color: #728e37">{{
          grower.produceCount
        }}</strong>
        Agro-produces grown
      </p>
      <p>
        <strong style="margin-right: 5%; color: #728e37">{{
          grower.subscriptionCount
        }}</strong>
        Subscriptions
      </p>
      <p><strong style="margin-right: 5%; color: #728e37">0</strong> Reviews</p>
      <p>
        <strong style="margin-right: 5%; color: #728e37">0</strong> Comments
      </p>
      <p>
        <strong style="margin-right: 5%; color: #728e37">{{
          grower.friendsCount
        }}</strong>
        Connections
      </p>
    </div>
    <div class="mt-4" style="text-align: center">
      <a class="button-40" (click)="goToRequest(grower.userId, produceId)">
        Request produce
      </a>
    </div>
  </div>

  <div></div>
</div>
<div class="card" style="margin-top: 5%; background-color: #dddddd">
  <div class="card-body" style="padding-top: 10%; padding-bottom: 10%">
    <div class="card-title text-center" style="color: #4c3113">
      <h5>Growers other produces ({{ produces$?.length }})</h5>
    </div>

    <div class="row" style="padding: 20px">
      <div class="column" *ngFor="let produce of slicedproduces$">
        <a
          class="request-produce-image"
          routerLink="/produce/{{ produce.produceId }}"
          ><img
            src="http://localhost:8080/api/image/produce-image/{{
              produce.filename
            }}"
            title="{{ produce.produceName }}"
            alt="produce-image"
            style="object-fit: cover; width: 45px; height: 45px"
            class="rounded"
            ngbTooltip="{{ produce.produceName }}"
        /></a>
      </div>
    </div>
    <div class="mt-4" style="text-align: center">
      <a
        class="button-20"
        style="flex-direction: column; align-items: center"
        routerLink="/view-user/{{ grower.userId }}"
      >
        View all
      </a>
    </div>
  </div>
</div>
